<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>链爱商城-VIP商店</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="链爱商城,链爱,链爱手机,链爱超级电视,链爱超级手机,链爱电视,链爱网,latv">
    <meta name="description" content="链爱商城（链爱超级手机，超级电视，链爱网会员官方销售平台）是链爱超级手机，超级电视，链爱智能硬件，链爱配件等产品的官方线上销售平台。链爱商城是基于“平台+内容+终端+应用”垂直整合链爱生态，打造的全球生态型电商平台。">
    <link rel="canonical" href="javascript:void(0)http://m.lemall.com/">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link href="/static/css/stylesheet.css" rel="stylesheet"/>
    <link href="/static/css/global.css" rel="stylesheet"/>
    <link href="/static/layui/css/layui.css" rel="stylesheet"/>
    <style>
        .layui-table th{
            line-height: 150%;
            font-size: 1.1em;
        }
         .layui-table td, .layui-table th{
             text-align:center;
             padding: 0%;
         }
    </style>
</head>
<body>
<div id="globalHeaderBox">
    <header class="header" rel="default">
        <div class="h_box sou_header">
            <div class="sou_home">
                <a class="icon v_m inline_block" style="height:100%; width:100%;" onclick="javascript:history.back(-1);" href="">
                    <em class="icon icon-back " ></em>
                </a>
            </div>
            <h1 class="titleName"><em>VIP商店</em></h1>
            <div class="pointBox category-he" >
                <span class="dotBox"><em class="icon icon-sdk"></em></span>
            </div>
        </div>
    </header>
</div>

<table class="layui-table">
        <thead>
          <tr>
            <th style="width: 25%">级别</th>
            <th style="width: 15%">优惠</th>
            <th style="width: 15%">返利</th>
            <th style="width: 15%">价格</th>
            <th style="width: 15%">期限(天)</th>
            <th></th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td><img src="/static/images/vip1.jpg"/></td>
            <td>0.1</td>
            <td>0.1</td>
            <td>188</td>
            <td>365</td>
            <td style="background-color: #e85b7c; border-radius: 0.8em"><a href="http://baidu.com" style="color:white;">购买</a></td>
          </tr>
          <tr>
            <td><img src="/static/images/vip2.jpg"/></td>
            <td>0.2</td>
            <td>0.15</td>
            <td>388</td>
            <td>365</td>
            <td style="background-color: #e85b7c; border-radius: 0.8em"><a href="http://baidu.com" style="color:white;">购买</a></td>
          </tr>
          <tr>
            <td><img src="/static/images/vip3.jpg"/></td>
            <td>0.3</td>
            <td>0.2</td>
            <td>588</td>
            <td>365</td>
            <td style="background-color: #e85b7c; border-radius: 0.8em"><a href="http://baidu.com" style="color:white;">购买</a></td>
          </tr>
          <tr>
            <td><img src="/static/images/vip4.jpg"/></td>
            <td>0.3</td>
            <td>0.2</td>
            <td>888</td>
            <td style=" padding: 0%">永久</td>
            <td style="background-color: #e85b7c; border-radius: 0.8em"><a href="http://baidu.com" style="color:white;">购买</a></td>
          </tr>
        </tbody>
</table>



<div class="viewport clear pt36 pb30 footer-old" rel="default">
	<div class="t_c">
		<p><em class=" font26 gray4">©2018 链爱商城</em></p>
	</div>
</div>
</body>
</html>