<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>链爱商城-分享回馈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="链爱商城,链爱,链爱手机,链爱超级电视,链爱超级手机,链爱电视,链爱网,latv">
    <meta name="description" content="链爱商城（链爱超级手机，超级电视，链爱网会员官方销售平台）是链爱超级手机，超级电视，链爱智能硬件，链爱配件等产品的官方线上销售平台。链爱商城是基于“平台+内容+终端+应用”垂直整合链爱生态，打造的全球生态型电商平台。">
    <link rel="canonical" href="javascript:void(0)http://m.lemall.com/">
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link href="/static/css/stylesheet.css" rel="stylesheet"/>
    <link href="/static/css/global.css" rel="stylesheet"/>
    <link href="/static/layui/css/layui.css" rel="stylesheet"/>
    <style>
        .layui-table th{
            font-size: 1.1em;
        }
        .layui-table td, .layui-table th{
            text-align:center;
            padding: 0%;
            line-height: 200%;
        }
    </style>
</head>
<body>
<div id="globalHeaderBox">
    <header class="header" rel="default">
        <div class="h_box sou_header">
            <div class="sou_home">
                <a class="icon v_m inline_block" style="height:100%; width:100%;" onclick="javascript:history.back(-1);" href="">
                    <em class="icon icon-back " ></em>
                </a>
            </div>
            <h1 class="titleName"><em>分享回馈</em></h1>
            <div class="pointBox category-he" >
                <span class="dotBox"><em class="icon icon-sdk"></em></span>
            </div>
        </div>
    </header>
</div>

<table class="layui-table">
        <thead>
          <tr>
            <th style="text-align:center; font-size: 1.2em; width: 25%;">订单号</th>
            <th style="text-align:center; font-size: 1.2em; width: 20%;">售价</th>
            <th style="text-align:center; font-size: 1.2em; width: 20%;">获利</th>
            <th style="text-align:center; font-size: 1.2em; width: 35%;">时间</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td style="text-align:center;">PM201810191606</td>
            <td style="text-align:center;">188</td>
            <td style="text-align:center;">18.8</td>
            <td style="text-align:center;">2018-10-18 16:07</td>
          </tr>
          <tr>
            <td style="text-align:center;">PM201810191729</td>
            <td style="text-align:center;">388</td>
            <td style="text-align:center;">38.8</td>
            <td style="text-align:center;">2018-10-18 17:29</td>
          </tr>
        </tbody>
</table>



<div class="viewport clear pt36 pb30 footer-old" rel="default">
	<div class="t_c">
		<p><em class=" font26 gray4">©2018 链爱商城</em></p>
	</div>
</div>
</body>
</html>